<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\samples\Microsoft.AspNet.SelfHost.Samples\packages.config" />
  <repository path="..\samples\Microsoft.AspNet.SignalR.Client.Silverlight.Samples\packages.config" />
  <repository path="..\samples\Microsoft.AspNet.SignalR.LoadTestHarness\packages.config" />
  <repository path="..\samples\Microsoft.AspNet.SignalR.Samples\packages.config" />
  <repository path="..\src\Microsoft.AspNet.SignalR.Client.JS\packages.config" />
  <repository path="..\src\Microsoft.AspNet.SignalR.Client.Portable\packages.config" />
  <repository path="..\src\Microsoft.AspNet.SignalR.Client\packages.config" />
  <repository path="..\src\Microsoft.AspNet.SignalR.Client45\packages.config" />
  <repository path="..\src\Microsoft.AspNet.SignalR.Core\packages.config" />
  <repository path="..\src\Microsoft.AspNet.SignalR.Crank\packages.config" />
  <repository path="..\src\Microsoft.AspNet.SignalR.Hosting.Memory\packages.config" />
  <repository path="..\src\Microsoft.AspNet.SignalR.Redis\packages.config" />
  <repository path="..\src\Microsoft.AspNet.SignalR.ServiceBus\packages.config" />
  <repository path="..\src\Microsoft.AspNet.SignalR.Stress\packages.config" />
  <repository path="..\src\Microsoft.AspNet.SignalR.StressServer\packages.config" />
  <repository path="..\src\Microsoft.AspNet.SignalR.SystemWeb\packages.config" />
  <repository path="..\tests\Microsoft.AspNet.SignalR.Client.JS.Tests\packages.config" />
  <repository path="..\tests\Microsoft.AspNet.SignalR.Client.Tests\packages.config" />
  <repository path="..\tests\Microsoft.AspNet.SignalR.FunctionalTests\packages.config" />
  <repository path="..\tests\Microsoft.AspNet.SignalR.SqlServer.Tests\packages.config" />
  <repository path="..\tests\Microsoft.AspNet.SignalR.Tests.Common\packages.config" />
  <repository path="..\tests\Microsoft.AspNet.SignalR.Tests\packages.config" />
</repositories>